/* comments*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://use.typekit.net/ili7jpr.css');

* {
    font-family: 'Lato', sans-serif;

}

body {
    background-color: white;
}

p {
    margin-right: 7%;
    font-size: 15pt;

}

a {
    color: rgb(227, 20, 135);
    font-weight: 800;
}

a:hover {
    color: rgb(43, 46, 226);
    text-decoration: none;
}

a:visited {
    color: rgb(251, 143, 255);
    text-decoration: none;
}

h3,
h1 {
    color: rgb(43, 46, 226);
    font-family: futura-pt, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    margin: 10px;

}

b {
    color: rgb(227, 20, 135);
    font-family: futura-pt, sans-serif;
    font-size: 20px;
}

h2 {
    color: rgb(227, 20, 135);
    font-family: futura-pt, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 25px;
}

/* group selector , betweeen selectors*/

nav {
    display: flex;

    margin: 1%;
    padding: 1%;
    justify-content: end;
    text-align: right;
    margin-right: 7%;

}


button {
    background-color: rgb(251, 192, 253);
    border: 0;
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    color: rgb(10, 77, 252);
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-size: 25px;

}

button:hover {
    background-color: rgb(10, 77, 252);
    color: rgb(234, 0, 255);
}

.whole-page {
    display: flex;
    float: left;
    margin-left: 7%;
    margin-right: 7%;
}

.shape-image {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.index-text-box {
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    /* cant seem to make the text wrap in its won box. box^ text bellow */
}

.index-text {
    flex-wrap: wrap;
}

.index-image {
    display: flex;
    float: left;
    margin-left: 7%;
    margin-bottom: 1%;

}

.video {
    display: flex;
    float: left;
    margin-left: 7%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    ;
}

/* who page */

.who-h3 {
    text-align: center;
    margin-bottom: 2%;

}

.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-bottom: 1%;
    width: 300px;
}

/* img{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;;
} */


.caption {
    display: block;
}

.image-gallery {
    display: flex;
    justify-content: space-evenly;


}

.image-left {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.image-right {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

#image-circle {
    border-radius: 50%;
}

/* how page */
.how-image {
    display: flex;
    float: left;
    margin-left: 7%;
    margin-bottom: 2%;
    margin-right: 1%;

}

.songs {
    display: flex;
    flex-direction: column;
    /* float: right; */
    justify-content: space-between;
    height: 550px;
}